{% assign tb = site.timebank %}
<section class="hero et_pb_fullwidth_header et_pb_bg_layout_dark">
  <div class="et_pb_fullwidth_header_container center">
    <div class="header-content-container center">
      <div class="header-content">
        <h1 class="et_pb_module_header">We all have a skill or service to share</h1>
        <span class="et_pb_fullwidth_header_subhead">Neighbors helping neighbors…. Timebanking is a simple, social way to connect with others, swap and share skills and services, using time exchange instead of cash. Timebanking is open to individuals of all ages, abilities, employment status or mobility.</span>
        <div class="et_pb_header_content_wrapper"></div>
        <a class="et_pb_button et_pb_button_one" href="{{ tb.learn_more_url }}">Learn More</a>
        <a class="et_pb_button et_pb_button_two" href="{{ tb.get_started_url }}">Get Started</a>
      </div>
    </div>
  </div>
  <div class="et_pb_fullwidth_header_overlay"></div>
</section>
