{% assign tb = site.timebank %}
<section class="intro et_pb_fullwidth_header et_pb_bg_layout_dark">
  <div class="et_pb_fullwidth_header_container center">
    <div class="header-content-container center">
      <div class="header-content">
        <div class="et_pb_header_content_wrapper">
          {{ site.title }} is a dynamic community that connects Albuquerque area residents and service organizations to each other and to a network of timebanks around the world. For each hour you help someone in the {{ site.title }} community, you earn one TimeDollar, which you can then ‘spend’ on help from someone else in the {{ site.title }} community and our global TimeBanking network. Everyone is welcome to join and participate.
        </div>
      </div>
    </div>
  </div>
  <div class="et_pb_fullwidth_header_overlay"></div>
</section>
