{% assign tb = site.timebank %}
<section class="intro et_pb_fullwidth_header et_pb_bg_layout_dark">
  <div class="et_pb_fullwidth_header_container center">
    <div class="header-content-container center">
      <div class="header-content">
        <div class="et_pb_header_content_wrapper">
          TimeBank Albuquerque meets on the <strong>first Sunday of the month</strong> at 3 pm at <strong>Es Que Market</strong> (319 5th St SW). All are welcome to attend!
          <br><br>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3264.984473161368!2d-106.6535102!3d35.082120700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87220da78a29b7eb%3A0x50e62e233fd655ab!2sEs%20Que%20Market!5e0!3m2!1sen!2sus!4v1772588391952!5m2!1sen!2sus" width="600" height="450" style="border:2.5px solid #497570; max-width: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="et_pb_fullwidth_header_overlay"></div>
</section>
