{% assign tb = site.timebank %}
<section class="join-cta et_pb_fullwidth_header et_pb_bg_layout_dark">
  <div class="et_pb_fullwidth_header_container center">
    <div class="header-content-container center">
      <div class="header-content">
        <h1 class="et_pb_module_header">Join {{ site.title }}</h1>
        <span class="et_pb_fullwidth_header_subhead">Our organization is growing, one new member at a time! Join us and become part of a dynamic sharing community today!</span>
        <div class="et_pb_header_content_wrapper"></div>
        <a class="et_pb_button et_pb_more_button et_pb_button_one" href="{{ tb.get_started_url }}">GET STARTED</a>
      </div>
    </div>
  </div>
  <div class="et_pb_fullwidth_header_overlay"></div>
</section>
