{% assign tb = site.timebank %}
<section class="quote-section et_pb_fullwidth_header justanother et_pb_bg_layout_dark">
  <div class="et_pb_fullwidth_header_container center">
    <div class="header-content-container center">
      <div class="header-content">
        <div class="et_pb_header_content_wrapper">
          <span class="quotes">"</span>{{ tb.quote }}<span class="quotes">"</span>
          {% if tb.quote_credit %}
          <div class="quote-credit">{{ tb.quote_credit }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="et_pb_fullwidth_header_overlay"></div>
</section>
